@media screen and (max-width: 991px) {
    /* Navbar */
    #nav-bar .nav-bar-heading{
        display: none;
    }

    #nav-bar .nav-bar-heading + *{
        border-left-width: 1px;
    }
    /* Navbar */
    /* about */
    #about {
        background: none;
    }
    #about .container{
        grid-template-columns: 1fr;
    }

    #about #target{
        background-color: #f7f7f7;
    }

    #about #personal-info{
        background-color: #f0f0f0;
    }

    #target,#personal-info{
        padding: 40px 30px;
    }
    /* about */

    /* Project charter */
    #project-charter .container {
        width: 100%;
    }
    #project-charter .grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* Project charter */
}

@media screen and (max-width: 1199px) {
    /* certificate */
    .certificates{
        grid-template-columns: 1fr;
    }

    .certificate-item{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 15px;
        border-bottom: 1px solid #d6c08d;
        padding-bottom: 15px;
    }

    .certificate-item + .certificate-item::before{
        display: none;
    }

    .certificate-separator{
        display: none;
    }
    /* certificate */
}